## ----- comment ---- ##
## ----- below are the values that you would need to run terraform apply ----- ##

## ----- got to you account name -> account -> account details

SNOWFLAKE_ACCOUNT_NAME=your_account_id
SNOWFLAKE_ORG_NAME=your_org_id
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password